@font-face{
  font-family:Questa_Sans_Regular;
  font-weight:400;
  font-style:normal;
  src: local('Questa_Sans_Regular'), url('/public/fonts/questa-sans/AnticSans-Regular.otf') format('truetype');
}


body,
html {
  height: 100%;
  padding: 0px;
  margin: 0px;
  background-color: #2b2b2b;
  color: #fff;
  font-family: serif;
}

/*  needed for please wait splash screen  */
body > .inner {display: none;} body.pg-loaded > .inner {display: block;}
.post-title {text-transform: uppercase}
.dealers div.dealer-item{
  height: 300px;
  box-shadow: 1px 1px 7px #000;
  background: #4a4a4a;
  padding: 10px;
  margin: 15px 0;
}

.dealers p {
  margin: 10px 0 0;
  position: absolute;
  bottom: 25px;
  right: 0;
  left: 0;
}

.dealers hr {
  border-top: 1px solid #6d6d6d;
  position: absolute;
  bottom: 140px;
  left: 20px;
  right: 20px;
}

.dealers  a {
  color: #C3C3C3;
  transition: color 300ms linear;
}
.dealer-logo {
  height: 145px;
  position: relative;
  background: #424242;
}

.dealers  a:hover {
  color: #fff;
}

.dealers img {
  max-width: 100%;
  display: block;
  margin: auto;
  position: absolute;
  padding: 0 10px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

}

.back-top {
  position: absolute;
  cursor: pointer;
  bottom: 9px;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  font-family: 'FontAwesome';
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  text-align: center;
  z-index: 1050;
  font-size: 22px;
  line-height: 40px;
  background: #2b2b2b;
  color: #3498db;
  border: 0;
  -webkit-box-shadow: 0 -5px 15px -5px #000;
  box-shadow: 0 -5px 15px -5px #000;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

hr {
  margin-top: 0.5rem;
  margin-bottom: .5rem;
  border: 0;
  border-top: 1px solid #484848;
}

.size {color: #e91720}
.product-size {
  list-style:none;
  padding: 10px 10px 0;
}

.product-size li {
  padding: 6px 0;
}

.submit-disabled {
  background: #d8cec3;
  color: 949494;
  border: 2px solid #fff;
  padding: 5px 35px;
}

.submit {
  background: #957b5f;
  border: 2px solid #fff;
  padding: 5px 35px;
  color: #fff;
  cursor: pointer;
  -webkit-transition: background 100ms linear;
  transition: background 100ms linear;
}

.submit:hover {
  background: #ad9173;
}

.form-control {
  background: transparent;
  border: 1px solid;
  /* border-bottom: 2px solid #fff; */
  color: #fff !important;
}

.form-control input {
  color: #fff !important;
}

.sub-text-line:before, .sub-text-line:after {
    border-top: 1px solid #868686;
    content: '';
    display: inline-block;
    width: 40px;
    height: 5px;
    margin: 0 6px;
    border-bottom: 1px solid #868686;
}

.form-control:focus {
  outline: none !important;
  background: transparent;
  border-bottom: 2px solid #3498db;
}

.color_18 {
  color: #957B5F;
}

.titles {
  text-transform: uppercase;
  letter-spacing: 0.25em;
}

.btn-secondary {
  cursor: pointer;
}

.btn-secondary,.btn-secondary:active,.btn-secondary:focus {
  background: transparent;
  border: 0;
  color: #d0d0d0;
  box-shadow: 0 0;
}

.btn-secondary:hover {
  color: #ffffff;
  background: transparent;
  border-color:0;
}

.font_5 {
  font: normal normal normal 28px/1.4em serif;
  color: #957B5F;
  font-size: 25px;
  font-weight: bold;
  margin-top: 5px;
}

.font_4 {
  font: normal normal normal 28px/1.4em serif;
  color: #e2c8ad;
  font-size: 1.2rem;
  margin-top: 5px;
}

.pricing {
  font: normal normal normal 28px/1.4em serif;
  font-size: 1.2rem;
  margin-top: 5px;
}

.font_6 {
    font: normal normal normal 22px/1.4em serif;
    color: #E3CFB9;
}

.alternate {
  background: #242424;
}

h6 {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

.dropdown-menu {
  background-color: #090909;
  color: #b3b3b3;
  top: 48px;
  border: 1px solid;
  transition: all 100ms linear;
}

.dropdown-menu a {
  color: #d0d0d0;
}

.dropdown-menu li {
  padding: 1px 9px;
}

.m_bottom_25 {
  margin-bottom: 25px !important;
}

.m_top_25 {
  margin-top: 25px !important;
}

.m_bottom_50 {
  margin-bottom: 50px !important;
}

.m_top_75 {
  margin-top: 75px !important;
}

.m_top_6 {
  margin-top: 6px !important;
}

.pagination li {
  margin: 0 10px 0 0;
}

.pagination li.disabled {
  color: #464a4c
}
.pagination {
  width: 210px;
  text-align: right;
  margin: 0 auto;
}

.pagination li a {
  color: #ccc;
}

.pagination li a, .pagination li span {
  padding: 5px;
  border: 1px solid #676767;
  transition: background 100ms linear;
  width: 100px;
  display: block;
  text-align: center;
}

.pagination li a:hover {
  background: #242424;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 3px 0px #9e9e9e;
}

.navbar-light .navbar-nav .nav-link {
    color: #ccc;
    transition: color 100ms linear;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #aaa
}

.justified-gallery>a>img{
  border: 2px solid #444 !important;
}

.parallax {
  /* The image used */
  background-image: url("/public/images/berdvaye-collection.jpg");
  /* Full height */
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.close-popup-styled {
    font-size: 30px;
    width: 10px;
    margin: 0 auto;
    color: #e3cfb9;
    cursor: pointer;
}

.popup {
    background: #2b2b2b;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10001;
    height: 100%;
    overflow-y: auto;
    display: none;
}

div#error-fullname,div#error-email { 
    border: 1px solid #e0e0e0;
    padding: 2px 5px;
    background: #f7f7e4;
    color: #000;
    position: absolute;
}

.menu {
  position: fixed;
  top: 0;
  background: #5a5a5a;
  width: 100%;
  z-index: 10;
  padding: 15px;
  -webkit-box-shadow: 0 0 6px #fff;
          box-shadow: 0 0 6px #fff;
  opacity: 0.9;
}

.menu ul {
  list-style: none;
  float: right;
  margin: 0;
}

.menu ul li {
  display: inline-block;
  text-transform: uppercase;
}

a:focus,a:hover  {
  color: #fff;
  text-decoration: none;
} 

.sidebar-wrapper {
  position: relative;
  height: 100%;
  overflow: auto;
}

.mr-auto {
    border-top: none;
    margin: 0;
}


.navbar {top: 0}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/></svg>");
}

.navbar-light .navbar-toggler {
    border-color: #9c9c9c;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .active>.nav-link, 
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.open, 
.navbar-light .navbar-nav .open>.nav-link {
  color: #fff !important;
}

.bg-faded {
  background: #000;
  opacity: 0.8;
  width: 100%;
  z-index: 1;
  position: fixed;
  box-shadow: 0 0 6px #949494;
}

.main-title {
  position: absolute;
  bottom: 75px;
  left: 0;
  right: 0;
}

.ul-table {
  list-style: none;
  margin: 0 0 15px;
  padding: 31px 10px;
  border: 1px solid;
  border-radius: 8px;
}

.ul-table li {
  width: 248px;
  display: inline-block;
  padding: 5px 18px;
}

.ul-table li:nth-child(2),.ul-table li:nth-child(4) {
  width: 265px;
}

.menu ul li a {
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  -webkit-transition: all 100ms linear;
  transition: all 100ms linear;
}

.menu ul li a:hover {
  color: #3498db;
}

.sub-text-line {
  /* border-top: 1px dotted #fff;
  position: relative;
  width: 50px; */
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 991px) {
  .main-title {
    position:  relative;
    top: 0;
    left: 0;
  }

  .mr-auto {
    border-top: 2px solid #7d7d7d;
    margin: 8px 0 0 0;
  }
}

@media only screen and (max-device-width: 1024px) {
  .parallax {
    background-attachment: scroll;
  }
}

