@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@font-face{
    font-family: 'Playfair Display';
    font-weight:normal;
    font-style:normal;
    src: url('/fonts/PlayfairDisplay-Regular.otf') ;
 }

 @font-face{
  font-family: 'Vorkurs';
  font-weight:normal;
  font-style:normal;
  src: url('/fonts/II Vorkurs Light.ttf') ;
}

 :root {
    color-scheme: light dark;
  }

 body {
    @apply font-sans;
  }

 .truncate-4-lines {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-clamp: 4;
    max-height: calc(2rem* 4);
}

.menu-items {
    display: flex;
    align-items: center;
  }
  .menu-items li {
    padding: 0.5rem 1rem;
    transition: color 0.3s ease-in-out;
    /* color: light-dark(black,white) */
    
  }
  .menu-items li:hover {
    /* background-color: #9b0002; */
    /* color: light-dark(#c19238,#ffe5b4) */
  }
  
  /* dropdown */
  .dropdown {
    position: relative;
  }
  .dropdown-menu,
  .menu-right {
    position: absolute;
    /* background: #122331; */
    width: 100%;
    top: 55px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
  }
  .menu-right {
    top: 0;
    left: 110%;
  }
  .menu-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .dropdown:hover .dropdown-menu {
    top: 34px;
    opacity: 1;
    visibility: visible;
  }
  .dropdown-right:hover .menu-right {
    left: 100%;
    opacity: 1;
    visibility: visible;
  }
  
  /* mega menu  */
  .mega-menu {
    position: absolute;
    left: 0;
    width: 80vw;
    top: 80px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
  }
  .mega-menu .content {
    /* background: #122331; */
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: 100%;
    justify-content: space-between;
  }
  .blog .content {
    grid-template-columns: repeat(3, 1fr);
    color: #fff
  }
  .blog .content .col:hover {
    color: #ffe5b4
  }
  
  .content .col {
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
    line-height: 3rem;
  }
  .content .col .img-wrapper {
    display: block;
    position: relative;
    width: 100%;
    height: 20vw;
    overflow: hidden;
  }
  .content .col .img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .content .col img {
    width: 100%;
    transition: transform 0.3s ease-in-out;
  }
  .content .col .img-wrapper:hover img {
    transform: scale(1.1);
  }
  .content .col h2 {
    color: #9b0002;
    font-size: 1.2rem;
    line-height: 3rem;
    font-weight: bold;
  }
  .content .col p {
    line-height: 1.2rem;
  }
  .content .col .mega-links {
    border-left: 1px solid #1a3246;
  }
  .content .col .read-more {
    display: inline-block;
    padding-top: 1rem;
    color: #427dad;
    transition: color 0.3s ease;
  }
  .col .mega-links li,
  .col .mega-links li a {
    padding: 0 1rem;
  }
  .menu-items li:hover .mega-menu {
    top: 50px;
    opacity: 1;
    visibility: visible;
  }
  .content .col .read-more:hover {
    color: #9b0002;
  }
  
  /* section */
  .section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .section h1 {
    font-family: "Titillium Web", serif;
    font-weight: 700;
    line-height: 6vw;
    color: #427dad;
    text-transform: uppercase;
  }

  @media screen and (max-width: 600px) {

    table.cart {
      border: 0;
    }
  
    table.cart thead {
      display: none;
    }
  
    table.cart tr {
      margin-bottom: 2px;
      display: block;
      /* border-bottom: 2px solid #ddd; */
    }
  
    table.cart td {
      display: block;
      text-align: right;
      font-size: 13px;
      padding: 0.2rem;
      /* border-bottom: 1px dotted #ccc; */
    }
  
    table.cart tr > td, table.cart tr > th {
      border: 0;
    }
  
    table.cart tfoot td:last-child {
      border-bottom: 0;
      display: table-cell;
    }
  
    table.cart td:before {
      /* content: attr(data-label); */
      float: left;
      text-transform: uppercase;
      font-weight: bold;
    }
  }